.about-me-section {
  background: #1c44a9;
  background: -webkit-linear-gradient(to right, #1c44a9, #0b45bb, #003193, #1c44a9);
  background: linear-gradient(to right, #1c44a9, #003193, #0b45bb, #1c44a9);
  background-size: 200%;
  animation: gradientAnimation 2.5s linear infinite;
  margin: 0 0 2rem 0;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 900;
  gap: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.about-text {
  width: 60%;
  font-size: .9rem;
  font-weight: 400;
  text-align: start;
}

@media (max-width:1366px) {
  .about-text {
    width: 80%;
  }
}

@media (max-width:500px) {
  .about-text {
    width: 95%;
    text-align: center;
  }
}
