* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sometype Mono', monospace;
  color: #f5f5f5;
}

body {
  background: #222222;
  scroll-behavior: smooth;
  height: 700px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}