header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #161616;
  box-shadow: #161616 0 3px 10px;
}

li {
  list-style: none;
}

a {
  color:white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 34px;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.nav-link,
.logo {
  border-radius: 8px;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 2px 5px;
  width: auto;
}

.nav-link:hover,
.logo:hover {
  color: #fff;
  background-color: #003193;
  box-sizing: border-box;
  box-shadow: #003193 0 0 50px;
}

.nav-link:hover {
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 2px 5px;
}

.hamburger:hover {
  background-color: #003193;
  box-sizing: border-box;
  box-shadow: #003193 0 0 50px;
}

.bar1,
.bar2,
.bar3,
.bar4 {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.15s ease-in-out;
}

.bar4 {
  width: 3px;
  height: 35px;
  opacity: 0.1;
}

@media (max-width:971px) {
  .hamburger {
    display: block;
  }

  .bar4 {
    width: 100px;
    height: 3px;
  }

  .hamburger.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar2 {
    opacity: 0;
  }

  .hamburger.active .bar3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #161616;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  .nav-item {
    margin: 16px 0;
  }
  
  .nav-menu.active {
    top: 70px
  }
}