.main-section {
  width: 60%;
  margin: 19vh 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.2rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  animation: fadeUpDown .9s ease-out;
  transform: translateY(0px);
}

.profile-container {
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-links-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.main-text-links button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: solid #fff 1px;
  color: white;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.5s;
}

.main-text-links button:hover, button:focus {
  background-color: #003193;
  border-color: #003193;
  box-shadow: #003193 0 0 50px;
  transition: all 0.15s;
  transform: scale(1.05);
  transform: translateY(-0.3rem);
}

.main-text-links button:active {
  transition: all 0.15s;
  transform: scale(0.95);
}

.social-icon,
.down-arrow {
  height: 18px;
}

.down-arrow {
  margin: 0 0 10px 0;
  animation: upDown 1.7s ease-out infinite;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }
}

@keyframes pulse {
  0%, 100% {
    box-shadow: #1c44a9 0 0 30px;
  }
  50% {
    box-shadow: #1c44a9 0 0 70px;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 5px 0;
}

h2 {
  display: block;
  text-align: center;
  font-size: 1.08rem;
  font-weight: 400;
  color: white;
  background: #1c44a9;
  background: -webkit-linear-gradient(to right, #1c44a9, #0b45bb, #003193, #1c44a9);
  background: linear-gradient(to right, #1c44a9, #003193, #0b45bb, #1c44a9);
  background-size: 400%;
  animation: gradientAnimation 5s linear infinite;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 8px 12px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.profile-pic {
  cursor: pointer;
  height: 350px;
  border-radius: 50%;
  border: solid #1c44a9 7.5px;
  transition: all 0.5s;
  animation: pulse 5s ease-out infinite;
}

.profile-pic:hover, .profile-pic:focus {
  transition: all 0.15s;
  transform: scale(1.05);
  box-shadow: #123690 0 0 100px;
}

.profile-pic:active {
  transition: all 0.15s;
  transform: scale(0.95);
}

@media (max-width:1366px) {

  .main-section {
    margin: 5vh 0 0 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: .9rem;
  }

}

@media (max-width:971px) {

  .main-text-links button:hover {
    box-shadow: #003193 0 0 15px;
  }

  .profile-pic:hover {
    box-shadow: #1c44a9 0 0 80px;
  }

  .main-section {
    grid-template-columns: minmax(300px, 1fr);
    margin: 8vh 0 2.2vh 0;
  }

  .profile-pic {
    margin: 0 0 0 0;
  }

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  h2 {
    display: block;
    font-size: .95rem;
    padding: .8rem 1rem;
    text-align: center;
  }

  .main-text-links button {
    font-size: .8rem;
    padding: .8rem 1rem;
  }

  .main-links-container {
    justify-content: center;
    margin: 1.5rem 5rem 0 5rem;
  }
}

@media (max-width:500px) {

  .main-section {
    width: 100%;
    justify-content: center;
    grid-template-columns: minmax(300px, 1fr);
    margin: 27px 0;
  }

  .main-links-container {
    margin: 3px 10px;
  }

  .profile-pic {
    height: 300px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: .8rem;
    padding: .6rem .8rem;
    margin: 10px 0;
  }

  .main-text-links button {
    font-size: .6rem;
    padding: .6rem .8rem;
  }
  
  .main-text-links {
    align-items: center;
  }
}
