.main-section {
  margin: 230px 1.5rem 230px 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-links-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.main-text-links button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: solid #fff 1px;
  color: white;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.5s;
}

.main-text-links button:hover {
  background-color: #003193;
  border-color: #003193;
  transition: all 0.15s;
}

.social-icon {
  height: 18px;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: #003193;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px 5px;
}

.profile-pic {
  cursor: pointer;
  height: 350px;
  border-radius: 50%;
  transition: all 0.5s;
}

.profile-pic:hover {
  transition: all 0.15s;
  transform: scale(1.05);
}

.profile-pic:active {
  transition: all 0.15s;
  transform: scale(0.95);
}

@media (max-width:768px) {
  .main-section {
    grid-template-columns: 1fr;
    margin: 100px 20vw 0 20vw;
  }
}