.projects-section {
  width: 60%;
  padding: 1rem 0 .5rem 0;
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 900;
  gap: 20px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: 0 0 3rem 0;
}

.project-container {
  background: #454545;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 12px;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
}

.desc {
  margin-top: 5px;
  font-size: .9rem;
  font-weight: 300;
}

.project-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  padding: .5rem .9rem;
  border: solid #fff 1px;
  color: white;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.5s;
}

.tech-shield {
  height: 22px;
  padding: 3px;
  margin: 10px 0 0 5px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
}

.tech-shield:hover {
  background-color: #003193;
  border-color: #003193;
  box-shadow: #003193 0 0 25px;
  transition: all 0.15s;
  transform: translateY(-0.15rem);
}

.project-container button:hover, button:focus {
  background-color: #003193;
  border-color: #003193;
  box-shadow: #003193 0 0 25px;
  transition: all 0.15s;
  transform: translateY(-0.15rem);
}

.project-container button:active {
  transition: all 0.15s;
  transform: scale(0.95);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 10px 0 0 0;
  gap: 10px;
}

.project-img {
  image-rendering: optimizeSpeed;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  object-fit: cover;
  background-color: #4f4f4f;
  border: none;
  height: 100%;
  width: 100%;
  transition: all 0.15s;
}

.project-img:hover,
.project-img:focus {
  border-top-left-radius: 0px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 35px;
  transition: all 0.15s;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (max-width:1366px) {
  .projects-section {
    width: 80%;
  }
}

@media (max-width:971px) {
  .projects-section {
    margin: -45px 0 3rem 0;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .img-wrapper {
    height: 200px;
  }
}

@media (max-width:500px) {
  .projects-section {
    width: 95%;
  }
}